/*
Paleta de Colores
#003049 Azul marino
#D62828 Rojo
#F77F00 Naranja
#FCBF49 Amarillo
#EAE2B7 Crema
*/
.backcontent {
    background-color: #EAE2B7;
}
.varnav{
    background-color: #000000;
    font-family: "Monotype Corsiva",Arial, Helvetica, sans-serif;
    font-size: 120%;
}
.portada{
    padding: 0;
    margin: 0;
}
.menu, .horario{
    background-color: #F77F00;
    color: white;
    font-family:"Cooper Black", 'Times New Roman', Times, serif;
    font-weight: bold;
}
.negro{
    color: black;
}
.healer{
    color:white;
    background-image: url("../resources/22.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.navbar-brand{
    color: white;
    font-family:"Cooper Black", 'Times New Roman', Times, serif;
    font-size: 130%;
}
.nav-link{
    color: #EAE2B7;
}
.act{
    color: #F77F00;
    font-weight: bolder;
    
}
.parrafo {
    font-size: 120%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;
    font-weight: normal;
}
.extras {
    background-color: #000000;
    color: white;
    font-family:"Cooper Black", 'Times New Roman', Times, serif;
    font-weight: bold;
    
}
.album {
    background-color: black;
}
.naranja{
    color: #F77F00;
}
.btn{
    background-color: #f8f400;
    color: #000000;
    font-family:"Cooper Black", 'Times New Roman', Times, serif;
    border-color: #F77F00;
    border-width: 2px;
}
.red{
    padding: 10;
    margin: 10;
}
.amarillo{
    color: #f8f400;
}